{{#> modules/layout/default/index }}
  <div class="page page_gray page-fooser">
    {{#> modules/common/frame/index checked=true name="fooser" value="home" }}
      {{> modules/fooser/home/index }}
    {{/ modules/common/frame/index }}
    {{#> modules/common/frame/index name="fooser" value="history" }}
      {{> modules/fooser/history/index }}
    {{/ modules/common/frame/index }}
    {{#> modules/common/frame/index name="fooser" value="about" }}
      {{> modules/fooser/about/index }}
    {{/ modules/common/frame/index }}
  </div>
{{/ modules/layout/default/index }}
