{{#> modules/layout/html/index }}
  <div class="page page_gray page-fooser">
    {{#> modules/frame/content/index checked=true name="fooser" value="home" }}
      {{> modules/fooser/home/index }}
    {{/ modules/frame/content/index }}
    {{#> modules/frame/content/index name="fooser" value="history" }}
      {{> modules/fooser/history/index }}
    {{/ modules/frame/content/index }}
    {{#> modules/frame/content/index name="fooser" value="about" }}
      {{> modules/fooser/about/index }}
    {{/ modules/frame/content/index }}
  </div>
{{/ modules/layout/html/index }}
