<div class="frame">
  <input{{#if checked}} checked{{/if}} class="frame__radio" id="{{name}}_{{value}}" name="{{name}}" type="radio" value="{{value}}">
  <div class="frame__content">
    {{> @partial-block }}
  </div>
</div>
