<div class="frame-content">
  <input{{#if checked}} checked{{/if}} class="frame-content__radio" id="{{name}}_{{value}}" name="{{name}}" type="radio" value="{{value}}">
  <div class="frame-content__content">
    {{> @partial-block }}
  </div>
</div>
