<div class="fooser-home">
  Fooser home
  <div>
    {{#> modules/common/frame-button/index name="fooser" value="history" }}
      history
    {{/ modules/common/frame-button/index }}
    {{#> modules/common/frame-button/index name="fooser" value="about" }}
      about
    {{/ modules/common/frame-button/index }}
  </div>
</div>
