{{#*inline "layout-header"}}
  {{#> modules/layout/header/index }}
    <h1>Fooser</h1>
  {{/ modules/layout/header/index }}
{{/inline}}
{{#> modules/layout/layout/index }}
  <div class="fooser-home">
    <div class="fooser-home__box">
      {{> modules/fooser/players/index }}
    </div>
    <div class="fooser-home__box">
      {{> modules/fooser/score/index }}
    </div>
    {{> modules/flex/spacer/index }}
    <div class="fooser-home__box">
      {{> modules/fooser/game/index }}
    </div>
    <div class="fooser-home__box">
      {{> modules/fooser/timer/index }}
    </div>
    <div class="fooser-home__box">
      {{> modules/fooser/timer-buttons/index }}
    </div>
  </div>
{{/ modules/layout/layout/index }}
